<table style="width:100%">
  <!--  headers row-->
  <tr>
    <th></th>

      <th  colspan="9">Youths</th>

      <th colspan="9">Applicants</th>


      <th colspan="9">Students</th>


      <th colspan="9">Graduates</th>

    <th colspan="9">Total</th>
  </tr>
  <!--  row for month-->
  <tr style="border-bottom: 1px solid #000000;">
    <td>Source</td>

      <td>Organic</td>
      <td>UCAS</td>
      <td>Facebook</td>
      <td>Money Magpie</td>
      <td>Save The Student</td>
      <td>University Boosters</td>
      <td>Afility Media</td>
      <td>Content collaborations</td>
      <td class="borders">Total</td>


      <td>Organic</td>
      <td>UCAS</td>
      <td>Facebook</td>
      <td>Money Magpie</td>
      <td>Save The Student</td>
      <td>University Boosters</td>
      <td>Afility Media</td>
      <td>Content collaborations</td>
      <td class="borders">Total</td>


      <td>Organic</td>
      <td>UCAS</td>
      <td>Facebook</td>
      <td>Money Magpie</td>
      <td>Save The Student</td>
      <td>University Boosters</td>
      <td>Afility Media</td>
      <td>Content collaborations</td>
      <td class="borders">Total</td>


      <td>Organic</td>
      <td>UCAS</td>
      <td>Facebook</td>
      <td>Money Magpie</td>
      <td>Save The Student</td>
      <td>University Boosters</td>
      <td>Afility Media</td>
      <td>Content collaborations</td>
      <td class="borders">Total</td>

    <td>Organic</td>
    <td>UCAS</td>
    <td>Facebook</td>
    <td>Money Magpie</td>
    <td>Save The Student</td>
    <td>University Boosters</td>
    <td>Afility Media</td>
    <td>Content collaborations</td>
    <td class="borders">Total</td>
  </tr>

  <% total_month_keys = @monthly_raw_recruitment.keys %>
  <% youths = @raw_recruitment.youths %>
  <% applicants = @raw_recruitment.applicants %>
  <% students = @raw_recruitment.students %>
  <% graduates = @raw_recruitment.graduates %>
  <% organic_raw_recruitment_count = @raw_recruitment.organic.size %>
  <% ucas_raw_recruitment_count = @raw_recruitment.ucas.size %>
  <% facebook_raw_recruitment_count = @raw_recruitment.facebook.size %>
  <% money_magpie_raw_recruitment_count = @raw_recruitment.money_magpie.size %>
  <% save_the_student_raw_recruitment_count = @raw_recruitment.save_the_student.size %>
  <% uniboost_raw_recruitment_count = @raw_recruitment.uniboost.size %>
  <% afility_raw_recruitment_count = @raw_recruitment.afility.size %>
  <% conentcollab_raw_recruitment_count = @raw_recruitment.contentcollab.size %>
  <% raw_recruitment_count = @raw_recruitment.size %>

    <% organic_youth_count = youths.organic.size %>
    <% ucas_youth_count = youths.ucas.size %>
    <% facebook_youth_count = youths.facebook.size %>
    <% money_magpie_youth_count = youths.money_magpie.size %>
    <% save_the_student_youth_count = youths.save_the_student.size %>
    <% uniboost_youth_count = youths.uniboost.size %>
    <% afility_youth_count = youths.afility.size %>
    <% contentcollab_youth_count = youths.contentcollab.size %>
    <% youth_count = youths.size %>



    <% organic_applicants_count = applicants.organic.size %>
    <% ucas_applicants_count = applicants.ucas.size %>
    <% facebook_applicants_count = applicants.facebook.size %>
    <% money_magpie_applicants_count = applicants.money_magpie.size %>
    <% save_the_student_applicants_count = applicants.save_the_student.size %>
    <% uniboost_applicants_count = applicants.uniboost.size %>
    <% afility_applicants_count = applicants.afility.size %>
    <% contentcollab_applicants_count = applicants.contentcollab.size %>
    <% applicants_count = applicants.size %>




    <% organic_students_count = students.organic.size %>
    <% ucas_students_count = students.ucas.size %>
    <% facebook_students_count = students.facebook.size %>
    <% money_magpie_students_count = students.money_magpie.size %>
    <% save_the_student_students_count = students.save_the_student.size %>
    <% uniboost_students_count = students.uniboost.size %>
    <% afility_students_count = students.afility.size %>
    <% contentcollab_students_count = students.contentcollab.size %>
    <% students_count = students.size %>



    <% organic_graduates_count = graduates.organic.size %>
    <% ucas_graduates_count = graduates.ucas.size %>
    <% facebook_graduates_count = graduates.facebook.size %>
    <% money_magpie_graduates_count = graduates.money_magpie.size %>
    <% save_the_student_graduates_count = graduates.save_the_student.size %>
    <% uniboost_graduates_count = graduates.uniboost.size %>
    <% afility_graduates_count = graduates.afility.size %>
    <% contentcollab_graduates_count = graduates.contentcollab.size %>
    <% graduates_count = graduates.size %>



  <!--  raw monthly data-->


      <% total_month_keys.each do |import| %>
        <tr>
          <td class="stick"><%= "#{import.month}-01".to_date.strftime('%B %Y') %></td>

            <% youth_row = @monthly_youths[import] %>
            <td class="organic"><%= youth_row.select {|object| object.organic?}.size %></td>
            <td  class="ucas"><%= youth_row.select {|object| object.ucas?}.size %></td>
            <td class="facebook"><%= youth_row.select {|object| object.facebook?}.size %></td>
            <td class="moneymagpie"><%= youth_row.select {|object| object.money_magpie?}.size %></td>
            <td class="savethestudent"><%= youth_row.select {|object| object.save_the_student?}.size %></td>
            <td class="uniboost"><%= youth_row.select {|object| object.uniboost?}.size %></td>
            <td class="afility"><%= youth_row.select {|object| object.afility?}.size %></td>
            <td class="contentcollab"><%= youth_row.select {|object| object.contentcollab?}.size %></td>
            <td class="border"><%= youth_row.select {|object| object.organic?}.size + youth_row.select {|object| object.ucas?}.size + youth_row.select {|object| object.facebook?}.size + youth_row.select {|object| object.money_magpie?}.size + youth_row.select {|object| object.save_the_student?}.size + youth_row.select {|object| object.afility?}.size + youth_row.select {|object| object.uniboost?}.size + youth_row.select {|object| object.contentcollab?}.size %></td>


            <% applicants_row = @monthly_applicants[import] %>
            <td class="organic"><%= applicants_row.select {|object| object.organic?}.size %></td>
            <td  class="ucas"><%= applicants_row.select {|object| object.ucas?}.size %></td>
            <td class="facebook"><%= applicants_row.select {|object| object.facebook?}.size %></td>
            <td class="moneymagpie"><%= applicants_row.select {|object| object.money_magpie?}.size %></td>
            <td class="savethestudent"><%= applicants_row.select {|object| object.save_the_student?}.size %></td>
            <td class="uniboost"><%= applicants_row.select {|object| object.uniboost?}.size %></td>
            <td class="afility"><%= applicants_row.select {|object| object.afility?}.size %></td>
            <td class="contentcollab"><%= applicants_row.select {|object| object.contentcollab?}.size %></td>
            <td class="border"><%= applicants_row.select {|object| object.organic?}.size + applicants_row.select {|object| object.ucas?}.size + applicants_row.select {|object| object.facebook?}.size + applicants_row.select {|object| object.money_magpie?}.size + applicants_row.select {|object| object.save_the_student?}.size + applicants_row.select {|object| object.afility?}.size + applicants_row.select {|object| object.uniboost?}.size + applicants_row.select {|object| object.contentcollab?}.size  %></td>


            <% students_row = @monthly_students[import] %>
            <td class="organic"><%= students_row.select {|object| object.organic?}.size %></td>
            <td  class="ucas"><%= students_row.select {|object| object.ucas?}.size %></td>
            <td class="facebook"><%= students_row.select {|object| object.facebook?}.size %></td>
            <td class="moneymagpie"><%= students_row.select {|object| object.money_magpie?}.size %></td>
            <td class="savethestudent"><%= students_row.select {|object| object.save_the_student?}.size %></td>
            <td  class="uniboost"><%= students_row.select {|object| object.uniboost?}.size %></td>
            <td  class="afility"><%= students_row.select {|object| object.afility?}.size %></td>
            <td  class="contentcollab"><%= students_row.select {|object| object.contentcollab?}.size %></td>
            <td class="border"><%= students_row.select {|object| object.organic?}.size + students_row.select {|object| object.ucas?}.size + students_row.select {|object| object.facebook?}.size + students_row.select {|object| object.money_magpie?}.size + students_row.select {|object| object.save_the_student?}.size + students_row.select {|object| object.afility?}.size + students_row.select {|object| object.uniboost?}.size + students_row.select {|object| object.contentcollab?}.size %></td>


            <% graduates_row = @monthly_graduates[import] %>
            <td class="organic"><%= graduates_row.select {|object| object.organic?}.size %></td>
            <td  class="ucas"><%= graduates_row.select {|object| object.ucas?}.size %></td>
            <td class="facebook"><%= graduates_row.select {|object| object.facebook?}.size %></td>
            <td class="moneymagpie"><%= graduates_row.select {|object| object.money_magpie?}.size %></td>
            <td class="savethestudent"><%= graduates_row.select {|object| object.save_the_student?}.size %></td>
            <td  class="uniboost"><%= graduates_row.select {|object| object.uniboost?}.size %></td>
            <td  class="afility"><%= graduates_row.select {|object| object.afility?}.size %></td>
            <td  class="contentcollab"><%= graduates_row.select {|object| object.contentcollab?}.size %></td>
            <td class="border"><%= graduates_row.select {|object| object.organic?}.size + graduates_row.select {|object| object.ucas?}.size + graduates_row.select {|object| object.facebook?}.size + graduates_row.select {|object| object.money_magpie?}.size + graduates_row.select {|object| object.save_the_student?}.size + graduates_row.select {|object| object.afility?}.size + graduates_row.select {|object| object.uniboost?}.size + graduates_row.select {|object| object.contentcollab?}.size %></td>

          <% total_monthly_data = @monthly_raw_recruitment[import] %>
          <td class="organic"><%= total_monthly_data.select {|object| object.organic?}.size %></td>
          <td  class="ucas"><%= total_monthly_data.select {|object| object.ucas?}.size %></td>
          <td class="facebook"><%= total_monthly_data.select {|object| object.facebook?}.size %></td>
          <td class="moneymagpie"><%= total_monthly_data.select {|object| object.money_magpie?}.size %></td>
          <td class="savethestudent"><%= total_monthly_data.select {|object| object.save_the_student?}.size %></td>
          <td  class="uniboost"><%= total_monthly_data.select {|object| object.uniboost?}.size %></td>
          <td  class="afility"><%= total_monthly_data.select {|object| object.afility?}.size %></td>
          <td  class="contentcollab"><%= total_monthly_data.select {|object| object.contentcollab?}.size %></td>
          <td class="border"><%= total_monthly_data.select {|object| object.organic?}.size + total_monthly_data.select {|object| object.ucas?}.size + total_monthly_data.select {|object| object.facebook?}.size + total_monthly_data.select {|object| object.money_magpie?}.size + total_monthly_data.select {|object| object.save_the_student?}.size + total_monthly_data.select {|object| object.afility?}.size + total_monthly_data.select {|object| object.uniboost?}.size + total_monthly_data.select {|object| object.contentcollab?}.size%></td>
        </tr>
      <% end %>



<br>
<br>
<br>
<br>
<br>
<br>


</table>
